    <!--====== CATEGORY PART START ======-->

    <section id="category-2-part">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="category-2-items pt-10">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-1.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>App Design</h5>
                                          <span>24 courses</span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-2.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>App development</h5>
                                          <span>57 courses </span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-3.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>UI/ UX Design</h5>
                                          <span>103 courses</span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-4.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>Photography</h5>
                                          <span>17 courses </span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-5.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>Finance</h5>
                                          <span>103 courses </span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-items text-center mt-30">
                                  <div class="items-image">
                                      <img src="../../assets/images/category/ctg-6.jpg" alt="Category">
                                  </div>
                                  <div class="items-cont">
                                      <a href="#">
                                          <h5>Science</h5>
                                          <span>17 courses </span>
                                      </a>
                                  </div>
                              </div> <!-- singel items -->
                          </div>
                      </div> <!-- row -->
                  </div> <!-- category -->
              </div>
              <div class="col-lg-5 offset-lg-1">
                  <div class="category-form">
                      <div class="form-title text-center">
                          <h3>Get 50 courses free!</h3>
                          <span>Sign up now </span>
                      </div>
                      <div class="main-form">
                          <form action="#">
                              <div class="singel-form">
                                  <input type="text" placeholder="Your name">
                              </div>
                              <div class="singel-form">
                                  <input type="email" placeholder="Your Mail">
                              </div>
                              <div class="singel-form">
                                  <input type="text" placeholder="Your Phone">
                              </div>
                              <div class="singel-form">
                                  <button class="main-btn" type="button">Get it Now</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </section>

  <!--====== CATEGORY PART ENDS ======-->
